<div class="lpc-contentBox">

  <div class="button-side-container rateBtn-container" ng-if="rate">
    <div ng-click="data.rating = 3" class="rateBtn rate-gold">
      <span class="rateBtn-textbox">Great</span>
    </div>
    <div ng-click="data.rating = 2" class="rateBtn rate-silver" >
      <span class="rateBtn-textbox">Good</span>
    </div>
    <div ng-click="data.rating = 1" class="rateBtn rate-bronze">
      <span class="rateBtn-textbox">Try Again</span>
    </div>
  </div>

  <div
    id="lpc-canvas-parentSize"
    ng-class="{
      'slider-and-canvas': !tutorial,
      buttons_visible: rate }"
    >
    <!-- Renderer will be inserted here -->
    <canvas
      id="lpc-canvas"
      ng-hide="lpcHidden || probe || waveHidden || $root.rootWaveHidden" >
    </canvas>
  </div>



  <div class="button-side-container ctlBtn-container">
    <button
      ng-click="stopPractice()"
      class="reset-button big-button"
      ng-if="rate">
      Stop {{type}} {{probe ? "probe" : "practice"}}
    </button>

    <button
      ng-click="resetF3()"
      class="reset-button big-button"
      ng-if="reset && !probe">
      Reset Target
    </button>

    <button
      ng-click="showLPC()"
      class="reset-button big-button"
      ng-if="!probe && hideBtn"
      ng-hide="!lpcHidden || rate || $root.rootWaveForced">
      Show Wave
    </button>

    <button
      ng-click="hideLPC()"
      class="reset-button big-button"
      ng-if="!probe && hideBtn"
      ng-hide="true || lpcHidden || rate">
      Hide Wave
    </button>

  </div> <!-- end .button-side-container .ctlBtn-container -->

</div> <!-- end .lpc-contentBox -->
